body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #333;
}

.clock {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
  background-color: #fff;
}

.hour {
  width: 2px;
  height: 60px;
}
